.row {
padding-left: 10px;
padding-right: 10px;
}

p {
font-size: 9pt;
margin: 0;
}

#content {
display: flex;
flex-flow: row wrap;
align-content: stretch;
}

.display {
text-shadow: 4px 4px #1f1e1e;
}

.btext {
  color: blue;
}

.header {
  font-size: 40px;
  text-align: center;
  text-shadow: 4px 4px #1f1e1e;
}

#planetRep {
  display: block;
  margin: 0 auto;
  width: 95%;
  border-radius: 20px;
}

.data-block {
margin: 0 auto;
display: flex;
flex-flow: column wrap;
justify-content: space-between;
}

.iterator {
color: #fe9b35;
font-size: 1.5rem;
vertical-align: middle;
}

.data, .data-small {
color: white;
font-size: 1.8rem;
}

.datum {
width: 90%;
margin: 0 auto;
}

.datar {
width: 90%;
margin: 0 auto;
}

.data-box {
border: 1px solid white;
display: flex;
justify-content: center;
align-items: stretch;
padding: 10px;
}

.unit {
font-size: 1.3rem;
}

.data {
font-size: 3rem;
}

.comparisons p {
font-size: 1.5rem;
text-align: center;
}

.comparisons {
display: flex;
width: 100%;
justify-content: space-between;
flex-flow: row wrap;
}

.s-comparison, .p-comparison {
border: 1px solid white;
width: 100%;
}

.larger-p {
margin-right: 10px;
color: #545571;
}

.smaller-p {
margin-left: 10px;
color: #abaab8;
}

.larger-s {
margin-right: 10px;
color: #ff9b3b;
}

.btn-group {
  display: flex;
  flex-flow: column nowrap;
}

.smaller-s {
margin-left: 10px;
color: #ffd8b1;
}

.drop {
margin-top: 15px;
}

.circle {
border-radius: 50%;
margin: 0 auto;
}

.ss {
height: 50%;
width: 50%;
background-color: #ffd8b1;
}

.ls {
height: 131px;
width: 131px;
display: flex;
background-color: #ff9b3b;
margin-top: 20px;
flex-flow: column nowrap;
justify-content: center;
align-content: center;
}

.lp {
height: 131px;
width: 131px;
display: flex;
background-color: #545571;
margin-top: 20px;
flex-flow: column nowrap;
justify-content: center;
align-content: center;
}

.sp {
height: 50%;
width: 50%;
background-color: #abaab8;
}

.no-border-data {
display: flex;
justify-content: center;
align-items: stretch;
padding: 10px;
}

.iterator {
  margin-right: 10px;
}

#unknownVal1 {
display: none;
}

#unknownVal2 {
display: none;
}

.ls h1 {
  color: #ffd8b1;
}

.lp h1 {
  color: #abaab8;
}

.circle h1 {
  font-size: 80px;
}

.footer {
  background-color: #2b2b2b;
  color: white;
  padding: 25px;
}

.footer p {
  font-size: 10pt;
}

.footer a, .footer span {
  color: #fe9b35;
  text-transform: uppercase;
}

.footer a:hover {
  text-decoration: none;
  color: #9c5d1b;
}

.footer br {
  display: none;
}
@media only screen and (min-width: 768px) {
  #planetRep {
    width: 60%;
    border-radius: 0;
  }

  .datum {
    width: 45%;
  }

  .header {
    font-size: 60px;
  }

  .datar {
  width: 65%;
  }

  .data-block {
  flex-flow: row wrap;
  }

  .data-box {
    flex: 1 0 100px;
  }

  .jumbotron br {
    display: none;
  }

  .btn-group {
    flex-flow: row nowrap;
  }

  .footer p {
    font-size: 12pt;
  }

  .footer br {
    display: block;
  }
}
