.row {
padding-left: 10px;
padding-right: 10px;
}

p {
font-size: 9pt;
}

#content {
display: flex;
flex-flow: row wrap;
align-content: stretch;
}

.display {
text-shadow: 2px 2px #545252fc;
}
