.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  z-index: 5;
  background-color: #2b2b2b;
}

/* Modal Content */
.modal-content1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  height: 100%;
  overflow-y: scroll;
}

/* The Close Button */
.close1 {
  color: white;
  float: right;
  font-size: 50px;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header1 {
  padding: 2px 16px;
  color: white;
}

.modal-body1 {
  padding: 2px 16px;
  color: white;
}

.modal-footer1 {
  padding: 2px 16px;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@-webkit-keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}
