@import url(https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

.tooltips {
  position: relative;
  display: inline-block;
  color: #fe9b35;
}

.tooltips .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-family: 'Quicksand';

  position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* Tooltip arrow */
  .tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext span {
  font-weight: bold;
}

.tooltiptext h3 {
  font-family: 'Bebas Neue';
}
